#div-countdown p{
    float: right;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.border-blue{
    border: 2px #4472c4 solid;
    border-radius: 5px; 
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#question{
    width: 80%;
}

.answer{
    width: 50%;
}